.data_container {
	width: 100%;
	box-sizing: border-box; // have to use border-box to prevent form element overlaps
	--padding-val: 2.5px;
	--margin-top: 10px;
	--border-radius: 5px;

	&.single_item {
		background-color: var(--bg-color-lighter-2);
		padding: calc(var(--padding-val) * 2) var(--padding-val);
		height: calc(36px + (var(--padding-val) * 4));
		&.first_col {
			padding-left: calc(var(--padding-val) * 2);
			border-radius: var(--border-radius) 0 0 var(--border-radius);
		}
		&.last_col {
			padding-right: calc(var(--padding-val) * 2);
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}
	}
	&.multi_item {
		background-color: var(--bg-color-lighter-2);

		padding: var(--padding-val);
		height: calc(36px + (var(--padding-val) * 2));
		&.first_row {
			margin-top: var(--margin-top);
		}
		&.first_row {
			padding-top: calc(var(--padding-val) * 2);
			height: calc(36px + (var(--padding-val) * 3));
		}
		&.last_row {
			padding-bottom: calc(var(--padding-val) * 2);
			height: calc(36px + (var(--padding-val) * 3));
		}
		&.first_col {
			padding-left: calc(var(--padding-val) * 2);
		}
		&.last_col {
			padding-right: calc(var(--padding-val) * 2);
		}

		&.first_row.first_col {
			border-radius: var(--border-radius) 0 0 0;
		}
		&.first_row.last_col {
			border-radius: 0 var(--border-radius) 0 0;
		}
		&.last_row.last_col {
			border-radius: 0 0 var(--border-radius) 0;
		}
		&.last_row.first_col {
			border-radius: 0 0 0 var(--border-radius);
		}
	}
}

.row_controls_container {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
	width: 42px;

	div.reorder_grabber,
	button.delete_button {
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--font-color);
		height: min-content;
		transition: scale 0.1s ease, color 0.1s ease;
	}
	div.reorder_grabber {
		svg {
			height: 20px;
			width: 20px;
		}
		cursor: grab;
		&:hover {
			scale: 120%;
		}
		&:active {
			scale: 100%;
			cursor: grabbing;
		}
	}
	button.delete_button {
		background-color: transparent;
		border: none;
		padding: 0;
		outline: none;
		svg {
			height: 17px;
			width: 17px;
		}
		cursor: pointer;
		&:hover {
			color: var(--font-color-error);
		}
		&:focus {
			color: var(--font-color-error);
			scale: 120%;
		}
		&:active {
			scale: 100%;
		}
		&:disabled {
			color: var(--font-color-disabled);
			opacity: 50%;
			cursor: not-allowed;
		}
	}
	&.changed > .reorder_grabber {
		color: var(--font-color-changed);
	}
}
.transitions {
	transition: margin-bottom 0.2s ease, border-radius 0.2s ease;
	& > div {
		transition: margin-bottom 0.2s ease, margin-top 0.2s ease, border-radius 0.2s ease;
	}
}
.margin_bottom_double {
	margin-bottom: 30px;
}
.margin_bottom > div {
	margin-bottom: 17.5px;
}
.margin_top > div {
	margin-top: 17.5px;
}
.margin_top_double > div {
	margin-top: 30px;
}
.remove_border_radius .data_container {
	border-radius: 0 !important;
}
.add_border_radius .data_container {
	&.first_col {
		border-radius: 0 0 0 var(--border-radius);
	}
	&.last_col {
		border-radius: 0 0 var(--border-radius) 0;
	}
}
