.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;

	.cutout {
		position: absolute;
		border-radius: 10px;
		background: transparent;
		box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
		pointer-events: none;
		border: 2px solid white;
		z-index: 2;
	}

	.content {
		position: absolute;
		transition: top 0.3s ease, left 0.3s ease, width 0.3s ease, height 0.3s ease,
			border-radius 0.3s ease;
		border-radius: 10px;
		background: transparent;
		pointer-events: none;
		border: 2px solid white;
		z-index: 3;
		pointer-events: auto;
		overflow: hidden;
		padding: 10px;

		.tip {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.devbuttons {
		z-index: 3;
	}
}
