.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;

	.cutout {
		position: absolute;
		border-radius: 10px;
		background: transparent;
		box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
		pointer-events: none;
		border: 2px solid white;
		z-index: 2;
	}

	.content {
		position: absolute;
		border-radius: 10px;
		background: transparent;
		pointer-events: none;
		border: 2px solid white;
		z-index: 3;
		pointer-events: auto;
		overflow: hidden;
		backdrop-filter: blur(2px);
		.content_backdrop {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: var(--font-color);
			z-index: 1;
			opacity: 0.2;
		}
		.tip_container {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
		}

		.tip {
			z-index: 6;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
		}
	}
	.devbuttons {
		z-index: 3;
	}
}
