.main {
	display: flex;
	align-items: center;
	width: 100%;

	.dollar_symbol {
		position: fixed;
		user-select: none;
		color: var(--font-color);
		transform: translateX(10px);
	}
	input {
		text-align: right;
		padding-left: 28px;
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}
