.main {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;

	.dollar_symbol {
		position: absolute;
		user-select: none;
		left: 10px;
		pointer-events: none;
	}
	.formatted {
		position: absolute;
		user-select: none;
		text-align: right;
		right: 12px;
		pointer-events: none;
		font-family: inherit;
		font-size: 13.3333px;
		overflow: hidden;
		max-width: calc(100% - 14px - 28px);
	}
	.left_parenthesis,
	.right_parenthesis {
		position: absolute;
		font-size: 16px;
		transform: translateY(-1px);
	}
	.left_parenthesis {
		left: 21px;
	}
	.right_parenthesis {
		right: 2px;
	}
	input {
		text-align: right;
		-moz-appearance: textfield;
		font-family: inherit;
		height: 36px;
		box-sizing: border-box;
		width: 100%;
		padding: 8px 12px 8px 28px;
		border-radius: 3px;
		outline: solid rgba(229, 229, 229, 0.2);
		border: 0;
		outline-width: 1px;
		background-color: var(--bg-color-lighter-1);
		transition: outline-width 0.15s ease;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&:focus,
		&:active {
			outline-width: 3px;
		}
		&:disabled {
			color: var(--font-color-disabled);
			cursor: not-allowed;
			&:focus,
			&:active {
				outline-width: 1px;
			}
		}
	}
}
