.main {
	width: 100vw;
	height: 100vh;
}

.content_container {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 100%;
	overflow-y: auto;
	scrollbar-color: var(--bg-color-lighter-3) var(--bg-color-lighter-1);
}

.content {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	height: fit-content;
	margin-bottom: 96px;
}

.top_bar {
	max-width: 904px;
	width: 100%;
	position: fixed;
	background-color: var(--bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	scrollbar-gutter: thin;
}

.logo {
	display: flex;
	align-items: center;

	svg {
		width: 30px;
	}

	p {
		color: var(--font-color);
		font-size: 24px;
		font-weight: 700;
		margin-left: 8px;
	}
}

.top_bar_actions {
	display: flex;
	align-items: center;
	font-size: 16px;

	a {
		padding: 10px 20px;
		background-color: var(--prim-bg);
		color: var(--font-color);
		border-radius: 10px;
		text-decoration: none;
		transition: background-color 0.1s ease;

		&:hover {
			background-color: var(--prim-bg-light-1);
			color: var(--font-color);
		}
	}
}

.tagline {
	max-width: 712px;
	margin-top: 96px;

	h1 {
		font-size: 60px;
	}
}

.text {
	font-size: 36px;
	color: var(--font-color-disabled);
}

.tagline_actions {
	display: flex;
	align-items: center;
	font-size: 18px;
	margin-bottom: 72px;

	a {
		padding: 15px 30px;
		background-color: var(--prim-bg);
		color: var(--font-color);
		border-radius: 10px;
		text-decoration: none;
		transition: background-color 0.1s ease;

		&:hover {
			background-color: var(--prim-bg-light-1);
			color: var(--font-color);
		}
	}
}

.demo_button {
	color: var(--prim-bg-light-2);
	font-size: 18px;
	font-weight: 700;
	margin-left: 18px;
	width: 100px;
	box-sizing: content-box;
	transition: background-color 0.2s ease, color 0.1s ease;

	&:hover {
		color: var(--prim-bg-light-3);
	}
	&:active,
	&:focus {
		transform: none !important;
		outline: none !important;
	}

	svg {
		height: 22px;
	}
}

.image_container {
	width: 880px;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 64px;
	border: 2px solid var(--bg-color-lighter-2);
	background-color: var(--bg-color-lighter-1);

	img {
		border-radius: 5px;
		height: 100%;
		width: 100%;
	}
}

.more_details {
	max-width: 528px;
	margin-left: 32px;
	font-size: 24px;

	.detail {
		padding: 16px 0;

		&:not(:first-child) {
			border-top: 1px solid var(--bg-color-lighter-1);
		}

		.bold {
			font-weight: 500;
			margin: 0;
			margin-bottom: 6px;
		}

		.reg {
			margin: 0;
			font-weight: 300;
			color: var(--font-color-disabled);
		}
	}
}
