.main {
	width: 100%;

	input {
		font-family: inherit;
		height: 36px;
		box-sizing: border-box;
		width: 100%;
		padding: 8px 12px;
		border-radius: 3px;
		outline: solid rgba(229, 229, 229, 0.2);
		border: 0;
		outline-width: 1px;
		background-color: var(--bg-color-lighter-1);
		transition: outline-width 0.15s ease;

		&:focus,
		&:active {
			outline-width: 3px;
		}

		&:disabled {
			color: var(--font-color-disabled);
			cursor: not-allowed;
			&:focus,
			&:active {
				outline-width: 1px;
			}
		}
	}
}
