.container {
	display: flex;
	flex-direction: column;
	background-color: var(--frosted-glass);
	border: var(--frosted-glass-border);
	backdrop-filter: blur(5px);
	padding: 30px;
	border-radius: var(--border-radius);

	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
