.main {
	height: 100%;
	--gap-row-height: 10px;
	.grid {
		border-color: transparent;
		max-height: calc(100vh - 200px);
	}

	.popped_out {
		display: flex;
		position: absolute;
		z-index: 999;

		&:not(.row_controller) {
			box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
		}
		&.row_controller {
			filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
		}
	}

	/* RE-ORDERING ROW EFFECT STYLES */
	.transitions {
		transition: margin 0.2s ease;
	}
}
