.main {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	.navbar_container {
		min-height: var(--NAVBAR-HEIGHT); // defined in globals.scss
		width: 100%;
		box-sizing: border-box;
	}
	.content_container {
		height: calc(100vh - var(--NAVBAR-HEIGHT));
	}
}
