body {
	--background-color: #171717;
	background-color: var(--background-color);
	--font-color-1: #eeeeee;
	--error-color: rgb(255, 131, 131);
	--primary: rgb(124, 58, 237);
	--primary-light-1: rgb(143, 87, 239);
	--primary-light-2: rgb(164, 119, 241);
	--primary-dark-1: rgb(96, 41, 191);
	--primary-dark-2: rgb(63, 27, 124);
	color: var(--font-color-1);
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	h1 {
		font-weight: 500;
		font-size: 30px;
	}
	input,
	button {
		color: var(--font-color-1);
		font-family: inherit;
		height: 36px;
		box-sizing: border-box;
		width: 100%;
		padding: 8px 12px;
		border-radius: 3px;
		outline: solid rgba(229, 229, 229, 0.2);
		border: 0;
		outline-width: 1px;
		background-color: rgb(34, 34, 34);
		transition: outline-width 0.15s ease;

		&:focus,
		&:active {
			outline-width: 3px;
			box-shadow: none;
		}
	}

	button {
		font-weight: 600;
	}
	label {
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		padding: 8px 0;
	}
	a {
		color: var(--primary-light-1);
		font-weight: 700;
		transition: color 0.15s ease;
		cursor: pointer;
		&:hover,
		&:focus,
		&:active {
			color: var(--primary-light-2);
		}
	}
}
