:root {
	--max-width: 1100px;
	--border-radius: 12px;
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
		'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
		'Courier New', monospace;

	--standard-bg: url('/background_light.svg');
	--standard-text-color: #ffffff;
	--input-bg: #ffffff;
	--input-text-color: #000000;
	--primary-bg: #7c3aed;
	--primary-bg-light: #9a67f3;
	--primary-text-color: #ffffff;
	--frosted-glass-bg: rgba(0, 0, 0, 0.1);
	--frosted-glass-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.15), 5px 5px 3px rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
	:root {
		--standard-bg: url('/background_dark.svg');
		--frosted-glass: rgba(255, 255, 255, 0.1);
		--frosted-glass-box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.2),
			5px 5px 3px rgba(0, 0, 0, 0.4);
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: rgb(var(--foreground-rgb));
	background-color: #242424;
	background-image: var(--standard-bg);
	background-size: cover;
	background-attachment: fixed;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
}
