.main {
	padding: 20px;

	.title {
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.grid {
		width: 100%;
		.header {
		}
		.cell {
			padding: 1px;
			&.amount {
				display: flex;
				width: 100%;
				--RIGHT_OFFSET: 10px;
				.symbol,
				.left_parenthesis,
				.right_parenthesis,
				.number {
					display: inline;
				}

				.left_parenthesis {
					margin: 0 5px;
				}
				.right_parenthesis {
					width: var(--RIGHT_OFFSET);
					text-align: end;
				}
				.number {
					margin-left: auto;
					overflow: hidden;
				}
				&:not(.negative) .number {
					margin-right: var(--RIGHT_OFFSET);
				}
			}
			&.changed {
				color: var(--font-color-changed);
			}
		}
	}
}
