.main {
	padding: 20px;

	.title {
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.table {
		width: 100%;
		border-collapse: collapse;
		&,
		td {
			border: 1px solid var(--bg-color-lighter-3);
		}

		td {
			padding: 3px 5px;
		}

		tr {
			width: 100%;

			.changed {
				color: var(--font-color-changed);
			}
		}
	}
}
