.margin_transition {
	transition: margin-bottom 0.2s ease;
	&.margin_bottom_double {
		margin-bottom: 30px;
	}
	& > div {
		transition: margin-bottom 0.2s ease, margin-top 0.2s ease;
	}
}
.margin_bottom_double {
	margin-bottom: 30px;
}
.margin_bottom > div {
	margin-bottom: 17.5px;
}
.margin_top > div {
	margin-top: 17.5px;
}
.margin_top_double > div {
	margin-top: 30px;
}

.row_controls_container {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
	width: 42px;

	.reorder_grabber,
	.delete_button {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--font-color);
		transition: scale 0.1s ease, color 0.1s ease;
		&:hover {
			scale: 120%;
		}
		&:active {
			scale: 100%;
		}
	}
	.reorder_grabber {
		svg {
			height: 20px;
			width: 20px;
		}
		cursor: grab;
		&:active {
			cursor: grabbing;
		}
	}
	.delete_button {
		svg {
			height: 17px;
			width: 17px;
		}
		cursor: pointer;
		&:hover {
			color: var(--font-color-error);
		}
	}
	&.changed > .reorder_grabber {
		color: var(--font-color-changed);
	}
}
