.form {
	width: 360px;

	div {
		&.error {
			input {
				outline-color: var(--error-color);
			}
		}
		div.error_container {
			min-height: 16px;
			padding: 2px 0 0px 0;
			font-size: 12px;
			color: var(--error-color);
		}
	}

	button {
		transition: background-color 0.15s ease;
		cursor: pointer;
		&:hover {
			background-color: var(--button-primary-bg-hover);
		}
		&:disabled {
			cursor: progress;
			background-color: var(--button-primary-bg-hover);
		}
	}
}
