.main {
	min-width: 400px;
	.split_col {
		display: flex;
		gap: 20px;
		& > * {
			width: 100%;
		}
	}
	.items_container {
		.item {
			display: flex;
			gap: 20px;
			& > * {
				width: 100%;
			}
		}

		&.multi_item {
			--padding-val: 5px;
			.header_container {
				.text {
					background-color: var(--bg-color-lighter-3);
					padding: 7.5px 5px;
				}
				padding: 5px 2.5px 2.5px 2.5px;
				width: 100%;
				background-color: var(--bg-color-lighter-2);
				box-sizing: border-box;
				margin: 0 px;
				text-align: center;
				&.first {
					padding-left: 0px;

					.text {
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
					}
				}
				&.last {
					padding-right: 0px;
					.text {
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
					}
				}
			}
			.item_row {
				display: contents;

				.control_container {
					min-height: 36px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					gap: 5px;
					padding: 2.5px 5px 0 0;
					user-select: none;
					width: 100%;
					background-color: transparent;

					.reorder_grabber,
					.delete_container {
						display: flex;
						align-items: center;
						padding-bottom: 4px;
						justify-content: center;
						button {
							height: 20px;
							background-color: transparent;
							border: none;
							color: var(--font-color);
							transition: scale 0.1s ease, color 0.1s ease;
							cursor: grab;
							padding: 0;
							svg {
								height: 20px;
								width: 20px;
							}
							&:hover:not(:disabled) {
								scale: 120%;
							}
							&:active:not(:disabled) {
								scale: 100%;
								cursor: grabbing;
							}
							&:disabled {
								color: var(--font-color-disabled);
								cursor: not-allowed;
							}
						}
						&.changed button {
							color: var(--font-color-changed);
						}
					}
				}
				& > * {
				}

				.cell {
					padding: calc(var(--padding-val) / 2);
					background-color: var(--popup-bg-color);
					&:nth-child(2) {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
					}
				}
			}
			.add_new_row {
				width: 100%;
			}
			.grid {
				max-height: 200px;
				overflow-y: auto;
			}

			--margin-gap-size: calc(36px + var(--padding-val));
			.transitions {
				transition: margin 0.2s ease;
			}
			.margin_top {
				margin-top: calc(var(--margin-gap-size) / 2);
			}
			.margin_bottom {
				margin-bottom: calc(var(--margin-gap-size) / 2);
			}
			.margin_top_double {
				margin-top: var(--margin-gap-size);
			}
			.margin_bottom_double {
				margin-bottom: var(--margin-gap-size);
			}
			.popped_out {
				padding: 5px calc(5px / 2);
				display: flex;
				position: absolute;
				z-index: 999;
				box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);

				&.control_container {
					box-shadow: none;
					filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
				}
			}
		}
	}
}
